nav,
footer {
  display: flex;
  justify-content: center;
  align-items: stretch;

  width: 100vw;

  font-family: "equinox", sans-serif;
  font-weight: bold;
}

nav {
  min-height: var(--navbar-height, 4rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--bg-color, #fff);
}

nav .container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

footer {
  min-height: calc(var(--navbar-height, 4rem) / 2);
}

footer .content {
  padding: 1rem;
  height: 100%;
  text-align: center;
}

nav .route {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  color: rgba(--color, #363636);
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}
nav .route::after {
  content: "";
  height: 5px;
  background: transparent;
  width: 5px;
  border-radius: 100px;
  position: absolute;
  top: calc(50% - 3px + 1.2em);
  left: calc(90% / 2);
  transition: background-color 300ms ease-out;
}

nav .route.active::after,
nav .route:active:after {
  background-color: var(--color, #363636);
}

nav .route:hover:not(:active):not(.active) {
  border-left: 1px solid var(--light, rgba(0, 0, 0, 0.1));
  border-right: 1px solid var(--light, rgba(0, 0, 0, 0.1));
}
