.color-light {
  color: var(--light, rgba(0, 0, 0, 0.1));
}

.color-primary {
  color: var(--primary, #770d0d);
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}
